
.game-title{
  font-size: 1.75rem;
}

.game-text {
  padding: 10px;
}

.game-card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 5px;
  display: inline-block;
  box-shadow: 1px 1px 15px black;
}